<a id='Capstone 2: National Transit Database'></a>

# Capstone 2: *National Transit Database*

## 1.1 Table of Contents<a id='1.1_Contents'></a>
* [1 Data wrangling](#1_Data_wrangling)
  * [1.1 Table of Contents](#1.1_Contents)
  * [1.2 Introduction](#1.2_Introduction)
    * [1.2.1 The Data Science Problem](#1.2.1_The_Data_Science_Problem)
    * [1.2.2 Introduction To Notebook](#1.2.2_Introduction_To_Notebook)
  * [1.3 Data Dictionary](#1.3_Data_Dictionary)
  * [1.4 Importing the Dependencies](#1.4_Importing_the_Dependencies)
  * [1.5 Importing the Data](#1.5_Importing_the_Data)
  * [1.6 Exploring the Data](#1.6_Exploring_the_Data)
      * [1.6.1 Missing Data by Column](#1.6.1_Missing_Data_by_Column)
          * [1.6.1.1 Overview of Missing Data](#1.6.1.1_Overview_of_Missing_Data)
          * [1.6.1.2 Visualizing Missing Data](#1.6.1.2_Visualizing_Missing_Data)
          * [1.6.1.3 The Three Unique Identifier Columns](#1.6.1.3_The_Three_Unique_Identifier_Columns)
              * [1.6.1.3.1 Finding NaNs and Other Forms of Missing Data](#1.6.1.3.1_Finding_NaNs_and_Other_Forms_of_Missing_Data)
              * [1.6.1.3.2 Removing the Rows of Data](#1.6.1.3.2_Removing_the_Rows_of_Data)
          * [1.6.1.4 Primary UZA Population, Name, and Sq Miles](#1.6.1.4_Primary_UZA_Population_Name_and_Sq_Miles)
              * [1.6.1.4.1 TBD1](#1.6.1.4.1_TBD1)
              * [1.6.1.4.2 TBD2](#1.6.1.4.2_TBD2)
          * [1.6.1.5 (TBD) Org Type, Service Area Pop and Sq Miles](#1.6.1.5_(TBD)_Org_Type_Service_Area_Pop_and_Sq_Miles)
              * [1.6.1.5.1 How are these fields looking after 1.6.1.4 is done?](#1.6.1.5.1_TBD3)
              * [1.6.1.5.2 Do we need to address these further?](#1.6.1.5.2_TBD4)
      * [1.6.2 Examining the '5 DIgit NTD ID', '4 Digit NTD ID', and 'Agency' columns](#1.6.2_Examining_the_5_DIgit_NTD_ID_4_Digit_NTD_ID_and_Agency_columns)
          * [1.6.2.1 Counting Unique Values](#1.6.2.1_Counting_Unique_Values)
          * [1.6.2.2 (Which 5 digs don't have 4 digs?)](#1.6.2.1_Looking_for_Irregularities)
          * [1.6.2.3 (Which 5 digs are more than one character different from 4 dig?  Ex: 20008/2008 vs 20008/2T08)](#1.6.2.1_Looking_for_Irregularities)     
          * [1.6.2.4 (What about the letters?  Let's explore those.)](#1.6.2.1_Looking_for_Irregularities)
      * [1.6.3 Ridership](#1.6.3_Ridership)      
      * [1.6.4 TOS TN](#1.6.4_TOS_TN)
      * [1.6.5 Changing Data Type of 'Rail (Y/N)' Column](#1.6.5_Rail)

## 1.2 Introduction
<a id='1.2_Introduction'></a>

When states find their metropolitan areas growing both in population and in spread, they often begin to consider additions to or expansions of their public transportation options.  The National Transit Database contains a wealth of information about accidents, injuries, and fatalities involving various forms of public transportation throughout the United States from 2014-present day.  The state departments of transportation would like to know which features have the greatest influence on safety for the various modes of transportation, so they can better understand which modes of public transportation would be good candidates for their growing metropolitan areas in the future. 

The National Transit Database is a Monthly Modal Time Series database from the Federal Transit Administration containing accidnets, injuries, and fatalities reported by all participating transit agencies from across the United States from 2014 to present day. Each row of data contains the number of events which occurred in each category during a given month for a particular agency.  

Note to Self: FTA regions [FTA Regions](https://www.transit.dot.gov/about/regional-offices/regional-offices) This addition resource may or may not be useful later.

## 1.3 Data Dictionary
<a id='1.3_Data_Dictionary'></a>

**Note:** *This table contains only the columns which benefitted from further explanation.  For a complete list of columns, please refer to section 1.5 of this notebook.*



| Column Name | Definition      [NTD Glossary link](https://www.transit.dot.gov/ntd/national-transit-database-ntd-glossary)|
|:---------|:-------------|
|5 DIgit NTD ID|National Transit Database ID number currently in use|
|4 Digit NTD ID|Legacy ID number|
|Agency| Name of the Reporting Agency|
|Organization Type|Distinguishes between government, private, and independent public agencies|
|Mode|AR: Alaska Railroad|
||CB: Commuter Bus|
||CC: Cable Car|
||CR: Commuter Rail
||DR: Demand Response|
||FB: Ferryboat|
||HR: Heavy Rail|
||IP: Inclined Plane|
||LR: Light Rail|
||MB: Bus|
||MG: Monorail and Automated Guideway|
||PB: Publico|
||RB: Bus Rapid Transit|
||SR: Streetcar Rail|
||TB: Trolleybus|
||TR: Aerial Tramway|
||VP: Vanpool|
||YR: Hybrid Rail
|Type of Service|DO: Directly Operated|
||PT: Purchased Transportation|
||TX: Taxi|
||TN: Transit Network Company (new TOS effective Sept 2019) [NTD Guidance](https://www.transit.dot.gov/sites/fta.dot.gov/files/docs/NTD%202108%20FRN%20Webinar%20Presentation.pdf)|
|Primary UZA Code|*(see note below table)* Numerical ranking by urbanized area population size| 
|Primary UZA Name|*(see note below table)*|
|Primary UZA Sq Miles|*(see note below table)*|
|Primary UZA Population|*(see note below table)*|


**Urbanized Area (UZA):** An urbanized area is an incorporated area with a population of 50,000 or more that is designated as such by the U.S. Department of Commerce, Bureau of the Census.
The Census Bureau delineates urban areas after each decennial census by applying specified criteria to decennial census and other data.

**Non-Rail Modes:**
Transit modes whose vehicles typically operate on roadways - streets, highways or expressways, but may also operate on waterways (ferryboat (FB)) or via aerial cable (aerial tramways (TR)). Vehicles are typically powered by motors onboard the vehicle, with one exception, aerial tramway (TR) vehicles which are electrically powered by a motor not onboard the vehicle in order to pull the vehicle via an overhead cable. NTD recognizes eight non-rail modes:
1.   Aerial Tramway (TR)
2.   Bus (MB)
3.   Bus rapid transit (RB)
4.   Commuter bus (CB)
5.   Demand Response (DR)
6.   Demand taxi (DT)
7.   Ferryboat (FB)
8.   Jitney (JT)
9.   Publico (PB)
10.   Trolleybus (TB), and
11.   Vanpool (VP).

## 1.4 Importing the Dependencies
<a id='1.4_Importing_the_Dependencies'></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.set_option('display.max_rows', 70)

## 1.5 Importing the Data
<a id='1.5_Importing_the_Data'></a>

[National Transit Database (NTD) Monthly Modal Time Series Information Page](https://datahub.transportation.gov/Public-Transit/Monthly-Modal-Time-Series/5ti2-5uiv)

[National Transit Database (NTD) Monthly Modal Time Series Data](https://datahub.transportation.gov/Public-Transit/Monthly-Modal-Time-Series/5ti2-5uiv/data)

<div class="alert alert-info">
  <strong>Note:</strong> There are NANs in 'Rail (Y/N) so I cannot change the data type to bool right now.  This will be addressed later in the project.</a>.
</div>

In [ ]:
file = 'Monthly_Modal_Time_Series.csv'
data = pd.read_csv(file, dtype={'5 DIgit NTD ID': str, '4 Digit NTD ID': str})
data.info()

In [ ]:
data.head()

**Visualizing a single entry**  This data was reported by Tri-County Metropolitan Transportation Distict for the month of January, 2014, and contains the number of events in which accidents, injury, or fatalities occurred in their service area in each category during that month.

In [ ]:
data[data.index==1].T

## 1.6 Exploring the Data
<a id='1.6_Exploring_the_Data'></a>

### 1.6.1 Missing Data by Column
<a id='1.6.1_Missing_Data_by_Column'></a>

#### 1.6.1.1 Overview of Missing Data
<a id='1.6.1.1_Overview_of_Missing_Data'></a>

In [ ]:
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=['count', 'percent']
missing.sort_values(by='percent', ascending=False)

#### 1.6.1.2 Visualizing the missing data
<a id='1.6.1.2_Visualizing_the_missing_data'></a>

In [ ]:
missingpercent = (100 * data.isnull().mean())

plt.figure(figsize=(16,22))
ax = missingpercent.sort_values(ascending=True).plot(kind='barh', fontsize=14)
ax.set_title('Percentage of Data Missing from Columns in NTD', fontsize=30, pad=20)
ax.set_xlabel('Percentage', fontsize=20)
ax.set_ylabel('Column Name', fontsize=20)


# Function below adapted from (https://stackoverflow.com/questions/28931224/how-to-add-value-labels-on-a-bar-chart)

def add_value_labels(ax, spacing=5):
    """Add labels to the end of each bar in a bar chart."""

# For each bar: Place a label
for rect in ax.patches:
    # Get X and Y placement of label from rect
    x_value = rect.get_width()
    y_value = rect.get_y() + rect.get_height() / 2

    # Number of points between bar and label
    space = 5
    # Vertical alignment for positive values
    ha = 'left'

    # Use X value as label and format number with three decimal places
    label = "{:.3f}".format(x_value)

    # Create annotation
    plt.annotate(
        label,                      # Use `label` as label
        (x_value, y_value),         # Place label at end of the bar
        xytext=(space, 0),          # Horizontally shift label by `space`
        textcoords="offset points", # Interpret `xytext` as offset in points
        va='center',                # Vertically center label
        ha=ha)                      # Horizontally align label differently for
                                    # positive and negative values.

# Call the function
add_value_labels(ax)

#### 1.6.1.3 The Three Unique Identifier Columns
<a id='1.6.1.3_The_Three_Unique_Identifier_Columns'></a>

##### 1.6.1.3.1 Finding NaNs and Other Forms of Missing Data
<a id='1.6.1.3.1_Finding_NaNs_and_Other_Forms_of_Missing_Data'></a>

As seen in the visualization above, there are no Nans in the '5 DIgit NTD ID' field.

In [ ]:
data[data['5 DIgit NTD ID'].isna()]

When looking at the pairings of '5 DIgit NTD ID' and 'Agency', a quotation mark is found for "5 DIgit NTD ID" at index 246.

In [ ]:
data[['5 DIgit NTD ID', 'Agency']].drop_duplicates().sort_values('5 DIgit NTD ID').head(50)

A search for additional quotation marks in the '5 DIgit NTD ID' field reveals a total of 48 rows.

In [ ]:
data[data['5 DIgit NTD ID']==r'"']

Searching for Nans in 'Agency' reveals the same 48 rows.  Since these rows contain no useful way to identify where the data is coming from (ie. no agency name, id number, or even organization or service type or mode) we can make the determination that these rows are not useful for our project and can be removed.

In [ ]:
data[data['Agency'].isna()]

##### 1.6.1.3.2 Removing the Rows of Data
<a id='1.6.1.3.2_Removing_the_Rows_of_Data'></a>

In [ ]:
data = data[data['Agency'].notna()]

Checking to make sure the data has been removed.

In [ ]:
data[data['Agency'].isna()]

In [ ]:
data[data['5 DIgit NTD ID']==r'"']

#### 1.6.1.4 Primary UZA Population, Name, and Sq Miles
<a id='1.6.1.4_Primary_UZA_Population_Name_and_Sq_Miles'></a>

In [ ]:

data['Primary UZA Population'].isnull().sum()

In [ ]:
data['Primary UZA Name'].isnull().sum()

In [ ]:
data['Primary UZA Sq Miles'].isnull().sum()

In [ ]:
#number of unique 5 digit IDs where primary UZA Name is NaN

dfisna = data[data['Primary UZA Name'].isna()]
dfisna.head()

In [ ]:
dfisna['5 DIgit NTD ID'].nunique()

In [ ]:
#find the overlap.  Do these 241 '5 DIgit NTD ID's also appear WITH a 'Primary UZA Name' elsewhere in the original data?

# make another table which is all isnotna, then see which 5 digs appear in both tables

dfisnotna = data[data['Primary UZA Name'].notna()]
dfisnotna.head()

In [ ]:
#inner join dfisnotna and dfisna on 5 dig ID to see which/how many 5 dig IDs appear in both.

#is_isnot = dfisnotna.merge(dfisna, on = '5 DIgit NTD ID', suffixes=('_isnotna', '_isna'))
#is_isnot

#fix this:
#call unique on 5 dig id for both dfs first, then inner join
#on notna call unique on 5 dig, UZA name just as a precaution



dfisna = dfisna[['5 DIgit NTD ID', 'Primary UZA Name']].drop_duplicates().sort_values('5 DIgit NTD ID')
dfisna

In [ ]:
dfisnotna[['5 DIgit NTD ID', 'Primary UZA Name']].drop_duplicates().sort_values('5 DIgit NTD ID')

In [ ]:
#So it appears that 240 of the 241 unique 5 dig ids which contain Nan for Primary UZA Name
#do have that information available somewhere else in the database

is_isnot=pd.merge(dfisnotna,dfisna, how='inner', on = '5 DIgit NTD ID')
is_isnot[['5 DIgit NTD ID']].drop_duplicates().sort_values('5 DIgit NTD ID')

<div class="alert alert-danger">
<strong>Question before I proceed:</strong>  At this point, I would seek permission from the client to fill these NaNs with the Primary UZA Names which are available elsewhere in the dataset.  I would request permission to do the same with Primary UZA population and Sq miles if applicable.</div>

#### 1.6.1.5 (TBD) Org Type, Service Area Pop and Sq Miles
<a id='1.6.1.5_(TBD)_Org_Type_Service_Area_Pop_and_Sq_Miles'></a>

<div class="alert alert-danger">
<strong>Next move: </strong>I would handle this section similarly to 1.6.1.4. I would request permission to replace NaNs with data found elsewhere in the dataset when available and appropriate.</div>

### 1.6.2 Examining the '5 DIgit NTD ID', '4 Digit NTD ID', and 'Agency' Columns
<a id='1.6.2_Examining_the_5_DIgit_NTD_ID_4_Digit_NTD_ID_and_Agency_columns'></a>

These three columns contain unique identifying information for each reporting agency.  The agency name and ID should match.  Since there are two different ID numbers, I'll explore both to determine which should be used as a primary identifier, and whether both or just one ID column should be preserved in the database.

#### 1.6.2.1 Counting Unique Values
<a id='1.6.2.1_Counting_Unique_Values'></a>

<div class="alert alert-danger">
    <strong>Items to address in this section:</strong>  
    
Which 4 digs dont have 5 digs?

Are there any letters in either ID?  

What does the one record with 5 dig but without Agency look like?

The number of unique  values in "5 DIgit NTD ID" and "Agency" are pretty close.  There are less unique values in the "4 Digit NTD ID" since this is the legacy ID.

In [ ]:
data['4 Digit NTD ID'].nunique()

In [ ]:
data['5 DIgit NTD ID'].nunique()

In [ ]:
data['Agency'].nunique()

In [ ]:
#saving the unique five digit IDs for use below

five_unique = data[['5 DIgit NTD ID']].drop_duplicates().sort_values('5 DIgit NTD ID')
five_unique

In [ ]:
#saving the unique four digit IDs for use below

four_unique = data[['4 Digit NTD ID']].drop_duplicates().sort_values('4 Digit NTD ID')
four_unique

In [ ]:
#In the next few cells, I am looking to see if there are any patterns in the data that will help me understand
#why some 5 dig ID don't have a 4 dig ID.

#return rows sorted by 5 dig ids where 4 dig id is NaN

#Splitting columns into 2 sets to make it easier to read

five_not_four = data[data['4 Digit NTD ID'].isna()].sort_values(['5 DIgit NTD ID', 'Year'])
five_not_four_set1 = five_not_four[['5 DIgit NTD ID', '4 Digit NTD ID','Agency', 'Organization Type', 'Mode', 'Type of Service', 'Rail (Y/N)']].sort_values(['5 DIgit NTD ID'])
five_not_four_set1

In [ ]:
five_not_four = data[data['4 Digit NTD ID'].isna()].sort_values(['5 DIgit NTD ID', 'Year'])
five_not_four_set2 = five_not_four[['5 DIgit NTD ID', '4 Digit NTD ID','Primary UZA Code', 'Primary UZA Name', 'Primary UZA Sq Miles', 'Primary UZA Population', 'Service Area Sq Miles', 'Service Area Population', 'Year']].sort_values(['5 DIgit NTD ID'])
five_not_four_set2

In [ ]:
five_not_four_Agency_count = five_not_four['Agency'].nunique()
five_not_four_Agency_count

In [ ]:
#looking at one row for each of the 37 5 dig IDs that do not have four dig ID.

five_not_four_set1 = five_not_four_set1.drop_duplicates(subset='5 DIgit NTD ID', keep="first")
five_not_four_set1

In [ ]:
five_not_four_set2 = five_not_four_set2.drop_duplicates(subset='5 DIgit NTD ID', keep="first")
five_not_four_set2

<div class="alert alert-danger">I'm not seeing a clear reason why these 37 agencies are missing 4 dig IDs when others are not.

<strong>Question: </strong>Are there other ways I can look at this data/explore more to try to figure it out or should I just accept that I can't determine a reason and leave it be?</div>

<div class="alert alert-danger"><strong>Next step: </strong>I want to search for letters in both 5 and 4 dig ID columns.  If there is a letter indicating tribe, for example, in the 4 dig id but not the 5 dig id, I want to see if that is also indicated in the agency name or organization type.  This would be one more step in determining the usefulness of the 4 dig id.</div>

In [ ]:
# NTD IDs: T = tribe, R = rural, no letter to indicate urban

Currently, I think it will be better to use the 5 digit as the unique identifier instead of the 4 digit ID going forward, but I think the 4 digit ID should be preserved in the database in case it is needed for other purposes.

### 1.6.3 Ridership
<a id='1.6.3_Ridership'></a>

<div class="alert alert-danger">
<strong>Note to self:</strong>
    
How shall I treat the rows where Ridership is zero?  What can we understand from a zero in that field? Is that a true representation of the ridership during those months or is the zero a placeholder?  
    
Possible options:   
* Exclude the data
    
* Leave as is
    
* Replace with an average - multiple methods possible to do this

I need to have a better understanding of why ridership is zero during these months/years before I can make a decision.</div>

In [ ]:
data[['5 DIgit NTD ID','Agency','Month','Year','Ridership']].sort_values(by = ['Ridership', '5 DIgit NTD ID','Year','Month'], ascending=True).head(30)

<div class="alert alert-info">
  <strong>Checking "Ridership": </strong> There are 1562 rows of data where "Ridership" is zero.</a></div>

In [ ]:
data[data['Ridership']==0].shape

<div class="alert alert-info">
  <strong>Checking "Ridership": </strong> Looking at one index number from above to see it's data.  At least it is consistent, zero safety data for zero riders.  I checked several fields but will need to do a more diligent exploration before being able to decide what to do with the 1562 rows.</a></div>

In [ ]:
data.iloc[57611]

### 1.6.4 TOS TN
<a id='1.6.4_TOS_TN'></a>

<div class="alert alert-info">
  <strong>Type of Service (TOS) "TN":  </strong> It is important to note that this one type of service was not in effect for the entire life of the database since this may change how we use this field.  The documention from NTD shows the new TOS designation "TN" came into use Sept 2019 but it first occurs in the database July 2018. It is used regularly after that.</div>

In [ ]:
temp_df = data[data['Type of Service']=='TN']
temp_df[['Agency','Mode', 'Month','Year','Type of Service']].sort_values(by=['Year','Month'],ascending=True).head(10)

### 1.6.5 Changing Data Type of 'Rail (Y/N)' Column
<a id='1.6.5_Rail'></a>

<div class="alert alert-info">
  <strong>"Rail (Y/N)" column data type: </strong> Removing the NANs in the Agency column fixed the NANs in the 'Rail (Y/N)' column.  So, I'm able to change the data type to bool now.</a></div>

In [ ]:
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing

In [ ]:
data['Rail (Y/N)'] = data['Rail (Y/N)'].astype(bool)

In [ ]:
data.info()