<a id='Capstone 2: National Transit Database'></a>

# Capstone 2: *National Transit Database*

## Introduction

This project will utilize the monthly modal time series data in the National Transit Database.  The data is collected from participating transit authorities across the United States from 2014 to the present day.

## Column Definitions

### Columns in dataframe which benefit from explanation



| Column Name | Definition (as neded - not all columns included here) [NTD Glossary link](https://www.transit.dot.gov/ntd/national-transit-database-ntd-glossary)|
|:---------|:-------------|
|5 DIgit NTD ID|National Transit Database ID number currently in use|
|4 Digit NTD ID|Legacy ID number|
|Agency| Name of the Reporting Agency|
|Organization Type|Distinguishes between government, private, and independent public agencies|
|Mode|AR: Alaska Railroad|
||CB: Commuter Bus|
||CC: Cable Car|
||CR: Commuter Rail
||DR: Demand Response|
||FB: Ferryboat|
||HR: Heavy Rail|
||IP: Inclined Plane|
||LR: Light Rail|
||MB: Bus|
||MG: Monorail and Automated Guideway|
||PB: Publico|
||RB: Bus Rapid Transit|
||SR: Streetcar Rail|
||TB: Trolleybus|
||TR: Aerial Tramway|
||VP: Vanpool|
||YR: Hybrid Rail
|Type of Service|DO: Directly Operated|
||PT: Purchased Transportation|
||TX: Taxi|
||TN: Transit Network Company (new TOS effective Sept 2019) [NTD Guidance](https://www.transit.dot.gov/sites/fta.dot.gov/files/docs/NTD%202108%20FRN%20Webinar%20Presentation.pdf)|
|Primary UZA Code|*(see note below table)* Numerical ranking by urbanized area population size| 
|Primary UZA Name|*(see note below table)*|
|Primary UZA Sq Miles|*(see note below table)*|
|Primary UZA Population|*(see note below table)*|


**Urbanized Area (UZA):** An urbanized area is an incorporated area with a population of 50,000 or more that is designated as such by the U.S. Department of Commerce, Bureau of the Census.
The Census Bureau delineates urban areas after each decennial census by applying specified criteria to decennial census and other data.

**Non-Rail Modes:**
Transit modes whose vehicles typically operate on roadways - streets, highways or expressways, but may also operate on waterways (ferryboat (FB)) or via aerial cable (aerial tramways (TR)). Vehicles are typically powered by motors onboard the vehicle, with one exception, aerial tramway (TR) vehicles which are electrically powered by a motor not onboard the vehicle in order to pull the vehicle via an overhead cable. NTD recognizes eight non-rail modes:
1.   Aerial Tramway (TR)
2.   Bus (MB)
3.   Bus rapid transit (RB)
4.   Commuter bus (CB)
5.   Demand Response (DR)
6.   Demand taxi (DT)
7.   Ferryboat (FB)
8.   Jitney (JT)
9.   Publico (PB)
10.   Trolleybus (TB), and
11.   Vanpool (VP).

<div class="alert alert-info">
  <strong>Importing Dependencies</strong>

In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np

<div class="alert alert-info">
  <strong>Importing File: </strong> https://www.transit.dot.gov/ntd/national-transit-database-ntd-glossary</a>.
  
  There are NANs in 'Rail (Y/N) so I cannot change the data type to bool right now.  This will be addressed later in the project.
</div>

In [2]:
file = 'Monthly_Modal_Time_Series.csv'
data = pd.read_csv(file, dtype={'5 DIgit NTD ID': str, '4 Digit NTD ID': str})
data.info()

/var/folders/b_/wjqzr1wd3b71cyr3q4f2zts40000gn/T/ipykernel_13033/2719734928.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file, dtype={'5 DIgit NTD ID': str, '4 Digit NTD ID': str})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133196 entries, 0 to 133195
Data columns (total 65 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   5 DIgit NTD ID                              133196 non-null  object
 1   4 Digit NTD ID                              130151 non-null  object
 2   Agency                                      133148 non-null  object
 3   Organization Type                           128819 non-null  object
 4   Mode                                        133148 non-null  object
 5   Type of Service                             133148 non-null  object
 6   Rail (Y/N)                                  133148 non-null  object
 7   Primary UZA Code                            133196 non-null  int64
 8   Primary UZA Name                            128807 non-null  object
 9   Primary UZA Sq Miles                        128855 non-null  float64
 10  Primary UZA Population                      128855 non-null  float64
 11  Service Area Sq Miles                       128960 non-null  float64
 12  Service Area Population                     128960 non-null  float64
 13  Year                                        133196 non-null  int64
 14  Month                                       133196 non-null  int64
 15  Vehicles                                    133196 non-null  int64
 16  Vehicle Revenue Miles                       133196 non-null  int64
 17  Vehicle Revenue Hours                       133196 non-null  int64
 18  Ridership                                   133196 non-null  int64
 19  Collisions with Motor Vehicle               133196 non-null  int64
 20  Collisions with Person                      133196 non-null  int64
 21  Collisions with Fixed Object                133196 non-null  int64
 22  Collisions with Rail Vehicle                133196 non-null  int64
 23  Collisions with Bus Vehicle                 133196 non-null  int64
 24  Collisions with Other                       133196 non-null  int64
 25  Total Collisions                            133196 non-null  int64
 26  Total Derailments                           133196 non-null  int64
 27  Total Fires                                 133196 non-null  int64
 28  Total Security Events                       133196 non-null  int64
 29  Total Events Not Otherwise Classified       133196 non-null  int64
 30  Total Events                                133196 non-null  int64
 31  Passenger Fatalities                        133196 non-null  int64
 32  People Waiting or Leaving Fatalities        133196 non-null  int64
 33  Operator Fatalities                         133196 non-null  int64
 34  Other Employee Fatalities                   133196 non-null  int64
 35  Total Employee Fatalities                   133196 non-null  int64
 36  Other Worker Fatalities                     133196 non-null  int64
 37  Bicyclist Fatalities                        133196 non-null  int64
 38  Pedestrian in Crosswalk Fatalities          133196 non-null  int64
 39  Pedestrian Not in Crosswalk Fatalities      133196 non-null  int64
 40  Pedestrian Crossing Tracks Fatalities       133196 non-null  int64
 41  Pedestrian Walking Along Tracks Fatalities  133196 non-null  int64
 42  Other Vehicle Occupant Fatalities           133196 non-null  int64
 43  Other Fatalities                            133196 non-null  int64
 44  Trespasser Fatalities                       133196 non-null  int64
 45  Suicide Fatalities                          133196 non-null  int64
 46  Total Other Fatalities                      133196 non-null  int64
 47  Total Fatalities                            133196 non-null  int64
 48  Passenger Injuries                          133196 non-null  int64
 49  People Waiting or Leaving Injuries          133196 non-null  int64
 50  Operator Injuries                           133196 non-null  int64
 51  Other Employee Injuries                     133196 non-null  int64
 52  Total Employee Injuries                     133196 non-null  int64
 53  Other Worker Injuries                       133196 non-null  int64
 54  Bicyclist Injuries                          133196 non-null  int64
 55  Pedestrian in Corsswalk Injuries            133196 non-null  int64
 56  Pedestrian Not in Crosswalk Injuries        133196 non-null  int64
 57  Pedestrian Crossing Tracks Injuries         133196 non-null  int64
 58  Pedestrian Walking Along Tracks Injuries    133196 non-null  int64
 59  Other Vehicle Occupant Injuries             133196 non-null  int64
 60  Other Injuries                              133196 non-null  int64
 61  Trespasser Injuries                         133196 non-null  int64
 62  Suicide Injuries                            133196 non-null  int64
 63  Total Other Injuries                        133196 non-null  int64
 64  Total Injuries                              133196 non-null  int64
dtypes: float64(4), int64(53), object(8)
memory usage: 66.1+ MB

<div class="alert alert-info">
  <strong>Taking a look at the dataframe</strong>

In [3]:
data.head()

,5 DIgit NTD ID,4 Digit NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (Y/N),Primary UZA Code,Primary UZA Name,Primary UZA Sq Miles,...,Pedestrian in Corsswalk Injuries,Pedestrian Not in Crosswalk Injuries,Pedestrian Crossing Tracks Injuries,Pedestrian Walking Along Tracks Injuries,Other Vehicle Occupant Injuries,Other Injuries,Trespasser Injuries,Suicide Injuries,Total Other Injuries,Total Injuries
0,00008,0008,Tri-County Metropolitan Transportation Distric...,Independent Public Agency or Authority of Tran...,LR,DO,True,24,"Portland, OR-WA",524.0,...,0,0,0,0,1,0,0,0,1,1
1,00008,0008,Tri-County Metropolitan Transportation Distric...,Independent Public Agency or Authority of Tran...,MB,DO,False,24,"Portland, OR-WA",524.0,...,0,1,0,0,3,0,0,0,4,11
2,20008,2008,MTA New York City Transit,"Subsidiary Unit of a Transit Agency, Reporting...",DR,PT,False,1,"New York-Newark, NY-NJ-CT",3450.0,...,1,2,0,0,6,0,0,0,9,17
3,20008,2008,MTA New York City Transit,"Subsidiary Unit of a Transit Agency, Reporting...",HR,DO,True,1,"New York-Newark, NY-NJ-CT",3450.0,...,0,0,0,0,0,0,0,2,2,9
4,20008,2008,MTA New York City Transit,"Subsidiary Unit of a Transit Agency, Reporting...",MB,DO,False,1,"New York-Newark, NY-NJ-CT",3450.0,...,1,2,0,2,21,0,0,0,27,42

<div class="alert alert-danger">
  <strong>Type of Service (TOS) "TN":  </strong> It is important to note that this one type of service was not in effect for the entire life of the database since this may change how we use this field.  The documention from NTD shows the new TOS designation "TN" came into use Sept 2019 but it first occurs in the database July 2018. </div>

In [4]:
temp_df = data[data['Type of Service']=='TN']
temp_df[['Agency','Mode', 'Month','Year','Type of Service']].sort_values(by=['Year','Month'],ascending=True).head(10)

,Agency,Mode,Month,Year,Type of Service
74105,The Eastern Contra Costa Transit Authority,DR,7,2018,TN
74106,The Eastern Contra Costa Transit Authority,DR,8,2018,TN
74107,The Eastern Contra Costa Transit Authority,DR,9,2018,TN
74108,The Eastern Contra Costa Transit Authority,DR,10,2018,TN
74109,The Eastern Contra Costa Transit Authority,DR,11,2018,TN
74110,The Eastern Contra Costa Transit Authority,DR,12,2018,TN
74111,The Eastern Contra Costa Transit Authority,DR,1,2019,TN
74112,The Eastern Contra Costa Transit Authority,DR,2,2019,TN
74113,The Eastern Contra Costa Transit Authority,DR,3,2019,TN
74114,The Eastern Contra Costa Transit Authority,DR,4,2019,TN

<div class="alert alert-info">
  <strong>Missing Values:  </strong> From looking at the data online, I know that there are missing values in the "5 DIgit NTD ID" field, so this will require some digging. </div>

In [5]:
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.head(20)

                               count         %
5 DIgit NTD ID                     0  0.000000
4 Digit NTD ID                  3045  2.286105
Agency                            48  0.036037
Organization Type               4377  3.286135
Mode                              48  0.036037
Type of Service                   48  0.036037
Rail (Y/N)                        48  0.036037
Primary UZA Code                   0  0.000000
Primary UZA Name                4389  3.295144
Primary UZA Sq Miles            4341  3.259107
Primary UZA Population          4341  3.259107
Service Area Sq Miles           4236  3.180276
Service Area Population         4236  3.180276
Year                               0  0.000000
Month                              0  0.000000
Vehicles                           0  0.000000
Vehicle Revenue Miles              0  0.000000
Vehicle Revenue Hours              0  0.000000
Ridership                          0  0.000000
Collisions with Motor Vehicle      0  0.000000

<div class="alert alert-info">
  <strong>Checking Unique Values:  </strong> The number of unique  values in "5 DIgit NTD ID" and "Agency" are pretty close.  There are less unique values in the "4 Digit NTD ID" since this is the legacy ID.  It will be better to use the 5 digit instead of the 4 digit ID going forward. </div>

In [6]:
data['5 DIgit NTD ID'].nunique()

609

In [7]:
data['4 Digit NTD ID'].nunique()

571

In [8]:
data['Agency'].nunique()

607

<div class="alert alert-info">
  <strong>Checking the pairing of "5 DIgit NTD ID" and "Agency":  </strong> No obvious occurances of an ID being associated with more than one Agency or vica versa.  Also no obvious explanation for the small difference in number of IDs vs Agencies. </div>

In [9]:
subset = data[['5 DIgit NTD ID', 'Agency']]
tuples = [tuple(x) for x in subset.to_numpy()]
unique = list(set(tuples))
print(len(unique))

609

In [10]:
print(unique)

[('10005', 'Lowell Regional Transit Authority'), ('90092', 'City of Fairfield, California'), ('30014', 'Cumberland Dauphin-Harrisburg Transit Authority'), ('40102', 'Waccamaw Regional Transportation Authority'), ('00047', 'City of Corvallis'), ('20080', 'New Jersey Transit Corporation'), ('90090', 'Yolo County Transportation District'), ('20075', 'Port Authority Transit Corporation'), ('50167', 'South Lake County Community Services, Inc.'), ('60134', 'The Woodlands Township'), ('50209', 'Central Indiana Regional Transportation Authority'), ('10014', 'Worcester Regional Transit Authority'), ('20122', 'Academy Lines, Inc.'), ('20199', 'County of Atlantic'), ('50029', 'Bay Metropolitan Transit Authority'), ('90030', 'North County Transit District'), ('20149', 'Rockland Coaches, Inc.'), ('90157', 'Access Services'), ('30094', 'City of Harrisonburg'), ('30018', 'Red Rose Transit Authority'), ('10183', "Woods Hole, Martha's Vineyard and Nantucket Steamship Authority"), ('10126', 'Worcester Regional Transit Authority COA'), ('20161', 'DeCamp Bus Lines'), ('30006', 'Greater Richmond Transit Company'), ('50204', 'Jackson County Mass Transit District'), ('90222', 'Pima Association of Governments'), ('20163', 'Lakeland Bus Lines, Inc.'), ('50016', 'Central Ohio Transit Authority'), ('40158', 'Lake County Board of County Commissioners'), ('90131', 'City of Scottsdale'), ('90134', 'Peninsula Corridor Joint Powers Board'), ('10017', 'Greater Hartford Transit District'), ('20128', 'Suburban Transit Corporation'), ('50053', 'City of Terre Haute'), ('10105', 'Cape Cod Regional Transit Authority'), ('90095', 'San Diego Association of Governments'), ('50022', 'Toledo Area Regional Transit Authority'), ('41199', 'Board of County Commissioners of St. Lucie County'), ('50146', 'Madison County Transit District'), ('40022', 'Metropolitan Atlanta Rapid Transit Authority'), ('50012', 'Southwest Ohio Regional Transit Authority'), ('50119', 'City of Detroit'), ('90201', 'City of Turlock'), ('40047', 'Athens-Clarke County Unified Government'), ('90091', 'City of Visalia'), ('30048', 'County of Howard'), ('60011', 'VIA Metropolitan Transit'), ('90156', 'City of San Luis Obispo'), ('10064', 'Greater Attleboro-Taunton Regional Transit Authority'), ('40088', 'Spartanburg County Transportation Services'), ('50032', 'Mass Transportation Authority'), ('90089', 'County of Sonoma'), ('80107', 'University of Montana'), ('50060', 'Champaign-Urbana Mass Transit District'), ('10088', 'Casco Bay Island Transit District'), ('50003', 'City of Kenosha'), ('10049', 'Greater New Haven Transit District'), ('40222', 'Wake County'), ('20169', 'Trans-Bridge Lines, Inc.'), ('90159', 'Western Contra Costa Transit Authority'), ('20126', 'Hudson Transit Lines, Inc.'), ('50008', 'Milwaukee County'), ('50057', 'Rock Island County Metropolitan Mass Transit District'), ('50056', 'Greater Peoria Mass Transit District'), ('90225', 'San Francisco Bay Area Water Emergency Transportation Authority'), ('10004', 'Brockton Area Transit Authority'), ('30019', 'Southeastern Pennsylvania Transportation Authority'), ('30044', 'Westmoreland County'), ('00029', 'Snohomish County Public Transportation Benefit Area Corporation'), ('60016', 'City of Beaumont'), ('99423', 'City of Glendale'), ('20078', 'Metro-North Commuter Railroad Company, dba: MTA Metro-North Railroad'), ('40026', 'Manatee County Board of County Commissioners'), ('90218', 'Riverside County Transportation Commission'), ('90211', 'Anaheim Transportation Network'), ('50043', 'Metropolitan Evansville Transit System'), ('60130', 'Alamo Area Council of Governments'), ('60008', 'Metropolitan Transit Authority of Harris County, Texas'), ('10051', 'Housatonic Area Regional Transit'), ('60088', 'Jefferson Parish'), ('40152', 'Miami Lakes - vRide, Inc.'), ('50522', 'Lake Erie Transportation Commission'), ('50159', 'River Valley Metro Mass Transit District'), ('50052', 'South Bend Public Transportation Corporation'), ('50183', 'City of Valparaiso'), ('90302', 'San Bernardino County Transportation Authority'), ('40108', 'Research Triangle Regional Public Transportation Authority'), ('20082', 'New York City Department of Transportation'), ('90148', 'Victor Valley Transit Authority'), ('00018', 'Ben Franklin Transit'), ('90026', 'San Diego Metropolitan Transit System'), ('40138', 'Gwinnett County Board of Commissioners'), ('40244', 'Spartanburg Regional Health Services, Inc.'), ('30077', 'Borough of Pottstown'), ('20178', 'Ulster County'), ('00023', 'City of Seattle'), ('11147', 'Rhode Island Department of Transportation'), ('40001', 'Chattanooga Area Regional Transportation Authority'), ('40031', 'Lakeland Area Mass Transit District'), ('40208', 'City of Clemson'), ('90173', 'Transit Joint Powers Authority for Merced County'), ('20116', 'Centro of Cayuga, Inc.'), ('00058', 'City of Portland'), ('30074', 'Harford County Maryland'), ('30054', 'Centre Area Transportation Authority'), ('60038', 'Lafayette City-Parish Consolidated Government'), ('40023', 'Augusta Richmond County Transit Department'), ('60010', 'City of Lubbock'), ('40003', 'City of Memphis'), ('60101', 'Denton County Transportation Authority'), ('60059', 'Brazos Transit District'), ('40228', 'Mecklenburg County'), ('20137', 'Monroe Bus Corporation'), ('00044', 'Skagit Transit'), ('50033', 'Interurban Transit Partnership'), ('20185', 'Centro of Oneida, Inc.'), ('50193', 'Enterprise Rideshare - Michigan'), ('10053', 'Cape Ann Transportation Authority'), ('30024', 'Berks Area Regional Transportation Authority'), ('30007', 'Greater Roanoke Transit Company'), ('90094', 'Metropolitan Transportation Commission'), ('90121', 'Antelope Valley Transit Authority'), ('70019', 'University of Iowa'), ('50149', 'Michiana Area Council of Governments'), ('80001', 'Utah Transit Authority'), ('40163', 'Municipality of Catano'), ('70045', 'County of Johnson, Iowa'), ('00024', 'Clark County Public Transportation Benefit Area Authority'), ('30078', 'Southwestern Pennsylvania Commission'), ('22930', 'New York City Economic Development Corporation'), ('91092', 'Tahoe Transportation District'), ('30055', 'City of Sharon'), ('50161', 'Ozaukee County'), ('60102', 'Concho Valley Transit District'), ('30034', 'Maryland Transit Administration'), ('80006', 'Denver Regional Transportation District'), ('30058', 'City of Fairfax'), ('00057', 'Central Oregon Intergovernmental Council'), ('30075', 'Delaware Transit Corporation'), ('50001', 'City of Appleton'), ('50031', 'Suburban Mobility Authority for Regional Transportation'), ('60091', 'Hill Country Transit District'), ('40029', 'Broward County Board of County Commissioners'), ('30201', 'City of Baltimore'), ('40078', 'Cobb County'), ('90012', 'San Joaquin Regional Transit District'), ('30057', 'Pennsylvania Department of Transportation'), ('50157', 'Butler County Regional Transit Authority'), ('41068', 'Flagler County Public Transportation'), ('80005', 'City of Colorado Springs'), ('20076', 'Westchester County'), ('90144', 'Livermore / Amador Valley Transit Authority'), ('80106', 'North Front Range Transportation and Air Quality Planning Council'), ('30102', 'Martz Trailways'), ('70271', 'Kansas City, City of Missouri'), ('60018', 'Metropolitan Tulsa Transit Authority'), ('10117', 'Plymouth & Brockton Street Railway Company'), ('50110', 'Bloomington Public Transportation Corporation'), ('50024', 'Western Reserve Transit Authority'), ('50165', 'Greene County Transit Board'), ('40005', 'City of Asheville'), ('50010', 'METRO Regional Transit Authority'), ('10098', 'Western Maine Transportation Services, Inc.'), ('70138', 'East Central Iowa Council of Governments'), ('90205', 'City of Elk Grove'), ('60114', 'STAR Transit'), ('44929', 'City of Fort Lauderdale'), ('50040', 'Ann Arbor Area Transportation Authority'), ('50518', 'SouthWest Transit'), ('90306', 'Stanislaus Regional Transit Authority'), ('50169', 'Miami County, Ohio'), ('90032', 'City of Phoenix Public Transit Department'), ('40093', 'City of Greensboro'), ('40265', 'North Central Alabama Regional Council of Governments'), ('20132', 'New Jersey Transit Corporation-45'), ('90232', 'Solano County Transit'), ('50160', 'County of Washington'), ('40147', 'North Carolina State University'), ('11238', 'Bay State Cruise Company'), ('90031', 'Riverside Transit Agency'), ('20010', 'Dutchess County'), ('90061', 'Yuba-Sutter Transit Authority'), ('90024', 'City of La Mirada'), ('90154', 'Los Angeles County Metropolitan Transportation Authority'), ('60012', 'City of Waco'), ('00019', 'Intercity Transit'), ('10008', 'Pioneer Valley Transit Authority'), ('70044', 'University of Kansas'), ('50021', 'Portage Area Regional Transportation Authority'), ('10102', 'Connecticut Department of Transportation'), ('90230', 'California Vanpool Authority'), ('50131', 'Opportunity Enterprises, Inc.'), ('30015', 'Luzerne County Transportation Authority'), ('30026', 'City of Williamsport'), ('60020', 'Louisiana Department of Transportation & Development'), ('40129', 'Charlotte County Government'), ('90299', 'Sonoma-Marin Area Rail Transit District'), ('20135', 'Monsey New Square Trails Corporation'), ('90088', 'Napa Valley Transportation Authority'), ('90226', 'Imperial County Transportation Commission'), ('20188', 'MTA Bus Company'), ('50117', 'Laketran'), ('40057', 'Jackson Transit Authority'), ('40008', 'City of Charlotte North Carolina'), ('66339', 'New Mexico Department of Transportation'), ('50061', 'City of Decatur, Il'), ('40042', 'Birmingham-Jefferson County Transit Authority'), ('90013', 'Santa Clara Valley Transportation Authority'), ('00016', 'RiverCities Transit'), ('40140', 'Collier County'), ('40002', 'City of Knoxville'), ('10061', 'Montachusett Regional Transit Authority'), ('50051', 'Greater Lafayette Public Transportation Corporation'), ('50199', 'Delaware County Transit Board'), ('20196', 'Middlesex County'), ('50036', 'Capital Area Transportation Authority'), ('10057', 'Norwalk Transit District'), ('00021', 'Whatcom Transportation Authority'), ('30085', "Prince George's County, Maryland"), ('60133', 'McKinney Avenue Transit Authority'), ('30023', 'Beaver County Transit Authority'), ('60024', 'City of Shreveport'), ('90033', 'City of Tucson'), ('40087', 'City of Durham'), ('42000', 'Atlanta-Region Transit Link Authority'), ('70008', 'City of Cedar Rapids'), ('90169', 'vRide, Inc. - Valley Metro'), ('40185', 'Bay County Transportation Planning Organization'), ('60127', 'Plaquemines Parish Government'), ('90078', 'Central Contra Costa Transit Authority'), ('10086', 'Cooperative Alliance for Seacoast Transportation'), ('90062', 'Monterey-Salinas Transit'), ('40230', 'City of Atlanta'), ('90009', 'San Mateo County Transit District'), ('10128', 'Connecticut Department of Transportation- CTTransit Waterbury- NET'), ('40028', 'Lee County Transit'), ('80008', 'Cities Area Transit'), ('90146', 'Foothill Transit'), ('10108', 'Greater Hartford Ridesharing Corporation - The Rideshare Company'), ('"', nan), ('50092', 'City of Rochester, Minnesota'), ('90209', 'Valley Metro Rail, Inc.'), ('70005', 'Kansas City Area Transportation Authority'), ('50025', 'Duluth Transit Authority'), ('10107', 'Milford Transit District'), ('80025', 'City of Loveland, Colorado'), ('50104', 'Northern Indiana Commuter Transportation District'), ('30068', 'Fairfax County, VA'), ('40178', 'The Transportation Management Association Group'), ('40179', 'Broward County Community Bus Service'), ('70015', 'City of Wichita'), ('80012', 'Great Falls Transit District'), ('30076', 'Williamsburg Area Transit Authority'), ('90200', 'Kings County Area Public Transit Agency'), ('40027', 'Pinellas Suncoast Transit Authority'), ('10056', 'Connecticut Department of Transportation - CTTRANSIT Stamford Division'), ('20160', 'Community Transit, Inc.'), ('90142', 'University of California, Davis'), ('90196', 'County of Placer'), ('50118', 'Northeast Illinois Regional Commuter Railroad Corporation'), ('40171', 'Knoxville-Knox County Community Action Committee'), ('50028', 'St. Cloud Metropolitan Transit Commission'), ('40017', 'Lexington Transit Authority'), ('90151', 'Southern California Regional Rail Authority'), ('00006', 'City of Yakima'), ('60014', 'City of Brownsville'), ('30045', 'JAUNT, Inc.'), ('00049', 'vRide, Inc. - Anchorage'), ('60033', 'Rock Region Metropolitan Transit Authority'), ('40074', 'Pasco County Board of County Commissioners'), ('20096', 'Putnam County'), ('50342', 'LINK Hendricks County'), ('80011', 'City of Fort Collins'), ('80009', 'Missoula Urban Transportation District'), ('90010', 'City of Torrance'), ('60056', 'Dallas Area Rapid Transit'), ('30001', 'Kanawha Valley Regional Transportation Authority'), ('40173', 'Piedmont Authority for Regional Transportation'), ('90175', 'City of Lodi'), ('50213', 'M-1 Rail'), ('90035', 'Gold Coast Transit District'), ('30010', 'Lehigh and Northampton Transportation Authority'), ('10007', 'Berkshire Regional Transit Authority'), ('90244', 'City of Tulare'), ('40014', 'Ms Coast Transportation Authority'), ('10042', 'Valley Transit District'), ('40928', 'Baldwin County Commission'), ('10129', 'Massachusetts Department of Transportation'), ('40007', 'City of Raleigh'), ('20189', 'BillyBey Ferry Company, LLC'), ('40245', 'Clay County Council on Aging, Inc.'), ('90020', 'Santa Barbara Metropolitan Transit District'), ('40044', 'City of Montgomery'), ('20072', 'Suffolk County'), ('30002', 'The Tri-State Transit Authority'), ('99424', 'City of Pasadena'), ('90019', 'Sacramento Regional Transit District'), ('90029', 'Omnitrans'), ('40103', 'Wiregrass Transit Authority'), ('50058', 'Rockford Mass Transit District'), ('50103', 'North Township of Lake County'), ('20166', 'Orange-Newark-Elizabeth, Inc.'), ('50113', 'Pace - Suburban Bus Division'), ('90182', 'Altamont Corridor Express'), ('30051', 'Montgomery County, Maryland'), ('90079', 'SunLine Transit Agency'), ('90086', 'City of Riverside'), ('90014', 'Alameda-Contra Costa Transit District'), ('50145', 'City of Kokomo'), ('50148', 'Blue Water Area Transportation Commission'), ('90233', 'Yuma County Intergovernmental Public Transportation Authority'), ('50066', 'Chicago Transit Authority'), ('10013', 'Merrimack Valley Regional Transit Authority'), ('50163', 'Licking County, Ohio'), ('90162', 'The Eastern Contra Costa Transit Authority'), ('00028', 'County of Pierce'), ('40012', 'City of Winston Salem'), ('40037', 'Board of County Commissioners, Palm Beach County'), ('40040', 'Jacksonville Transportation Authority'), ('30129', 'Anne Arundel County'), ('40034', 'County of Miami-Dade'), ('99422', 'San Joaquin Council'), ('70014', 'Topeka Metropolitan Transit Authority'), ('40036', 'City of Tallahassee'), ('70002', 'Transit Authority of Omaha'), ('40224', 'Buncombe County'), ('30101', 'City of Washington'), ('10040', 'Southeast Area Transit District'), ('20006', 'City of Long Beach'), ('40153', 'vRide, Inc. - Atlanta'), ('40100', 'Santee Wateree Regional Transportation Authority'), ('90213', 'City of Petaluma'), ('90136', 'Regional Public Transportation Authority'), ('90229', 'El Dorado County Transit Authority'), ('90171', 'City of Santa Clarita'), ('10118', 'MetroWest Regional Transit Authority'), ('00003', 'Pierce County Transportation Benefit Area Authority'), ('90166', 'LACMTA - Small Operators'), ('50517', 'City of Maple Grove'), ('40950', 'First Tennessee Human Resource Agency'), ('40071', 'City of Huntsville, Alabama'), ('50198', 'Medina County Public Transit'), ('40041', 'Hillsborough Area Regional Transit Authority'), ('10001', 'Rhode Island Public Transit Authority'), ('90016', 'Golden Gate Bridge, Highway and Transportation District'), ('20145', 'Tompkins Consolidated Area Transit'), ('50002', 'City of Green Bay'), ('90119', 'City of Laguna Beach'), ('40175', 'Puerto Rico Maritime Transport Authority'), ('10016', 'Greater Portland Transit District'), ('11154', 'Flight Line, Inc.'), ('20165', 'Olympia Trails Bus Company, Inc.'), ('40021', 'City of Albany'), ('80004', 'City of Billings'), ('90007', 'City of Modesto'), ('50088', 'City of Sheboygan'), ('70275', 'Nebraska Department of Transportation'), ('00025', 'Salem Area Mass Transit District'), ('50515', 'University of Minnesota Transit'), ('10006', 'Southeastern Regional Transit Authority'), ('40097', 'Council on Aging of St. Lucie, Inc.'), ('40032', 'County of Volusia'), ('50211', 'Rides Mass Transit District'), ('90206', 'San Luis Obispo Regional Transit Authority'), ('30087', 'County of Fayette'), ('50054', 'Muncie Indiana Transit System'), ('50154', 'Metropolitan Council'), ('40110', 'Charleston Area Regional Transportation Authority'), ('90022', 'City of Norwalk'), ('30008', 'Greater Lynchburg Transit Company'), ('40169', 'Regional Planning Commission of Greater Birmingham'), ('40135', 'Georgia Regional Transportation Authority'), ('90039', 'City of Culver City'), ('50035', 'Central County Transportation Authority'), ('90045', 'Regional Transportation Commission of Southern Nevada'), ('40086', 'Metropolitan Bus Authority'), ('90002', 'City and County of Honolulu'), ('40120', 'City of Ocala, Florida'), ('60007', 'Fort Worth Transportation Authority'), ('40144', 'City of Gainesville'), ('40092', 'City of Clarksville'), ('70030', 'City of Coralville'), ('00007', 'Lane Transit District'), ('40035', 'Central Florida Regional Transportation Authority'), ('40247', 'Shelby County Government'), ('70048', 'City of Lawrence'), ('90193', 'Chula Vista Transit'), ('20209', 'Somerset County'), ('60095', 'Golden Crescent Regional Planning Commission'), ('50042', 'City of East Chicago'), ('70041', 'Ames Transit Agency'), ('50039', 'Saginaw Transit Authority Regional Service'), ('60108', 'Harris County'), ('40006', 'Cape Fear Public Transportation Authority'), ('60077', 'City of Santa Fe'), ('90023', 'Long Beach Transit'), ('90027', 'City of Fresno'), ('50011', 'Stark Area Regional Transit Authority'), ('40105', 'Puerto Rico Highway and Transportation Authority – Público'), ('10115', 'Northern New England Passenger Rail Authority'), ('20203', 'Cape May County'), ('60022', 'Capital Area Transit System'), ('20099', 'Staten Island Rapid Transit Operating Authority'), ('50155', 'Metro Mobility'), ('10050', 'Greater Bridgeport Transit Authority'), ('20192', 'Bergen County'), ('40043', 'City of Mobile'), ('50009', 'City of Oshkosh, Wisconsin'), ('60124', 'vRide, Inc. - El Paso'), ('40025', 'Chatham Area Transit Authority'), ('00020', 'Kitsap Transit'), ('60107', 'Texoma Area Paratransit System, Inc'), ('00034', 'Rogue Valley Transportation District'), ('70001', 'City of Lincoln'), ('30095', 'County of Lebanon Transit Authority'), ('90219', 'Northern Arizona Intergovernmental Public Transportation Authority'), ('50182', 'Pace-Suburban Bus Division, ADA Paratransit Services'), ('90093', 'Redding Area Bus Authority'), ('50027', 'Metro Transit'), ('40053', 'Greenville Transit Authority'), ('10066', 'Green Mountain Transit Authority'), ('20193', 'Cumberland County'), ('00001', 'King County Department of Metro Transit'), ('90149', 'City of Lompoc'), ('20204', 'Senior Citizens United Community Services of Camden County, Inc.'), ('00040', 'Central Puget Sound Regional Transit Authority'), ('30013', 'Erie Metropolitan Transit Authority'), ('70035', 'Johnson County Kansas'), ('50045', 'Gary Public Transportation Corporation'), ('30030', 'Washington Metropolitan Area Transit Authority'), ('40004', 'Metropolitan Transit Authority'), ('40063', 'Brevard Board of County Commissioners'), ('90296', 'City of Claremont'), ('90242', 'Las Vegas Monorail Company'), ('90001', 'Regional Transportation Commission of Washoe County'), ('20002', 'Capital District Transportation Authority'), ('30022', 'Port Authority of Allegheny County'), ('80285', 'Via Mobility Services'), ('70012', 'City of Sioux City'), ('60103', 'Fort Bend County, Texas'), ('90208', 'Butte County Association of Governments'), ('50176', 'City of DeKalb'), ('40172', 'Western Piedmont

<div class="alert alert-info">
  <strong>Looking for Irregularities:  </strong> Interesting quotation mark found for "5 DIgit NTD ID" at index 246 </div>

In [11]:
data[['5 DIgit NTD ID', 'Agency']].drop_duplicates().sort_values('5 DIgit NTD ID').head(50)

      5 DIgit NTD ID                                             Agency
246                "                                                NaN
9564           00001            King County Department of Metro Transit
3874           00002                          Spokane Transit Authority
4828           00003  Pierce County Transportation Benefit Area Auth...
6770           00005                                    City of Everett
7897           00006                                     City of Yakima
4855           00007                              Lane Transit District
0              00008  Tri-County Metropolitan Transportation Distric...
8599           00011                            Valley Regional Transit
6741           00012                          Municipality of Anchorage
10016          00016                                RiverCities Transit
7445           00018                               Ben Franklin Transit
3856           00019                                  Intercity Transit
6754           00020                                     Kitsap Transit
2963           00021                   Whatcom Transportation Authority
8499           00023                                    City of Seattle
7685           00024  Clark County Public Transportation Benefit Are...
4839           00025                   Salem Area Mass Transit District
9864           00028                                   County of Pierce
17             00029  Snohomish County Public Transportation Benefit...
8776           00034               Rogue Valley Transportation District
697            00035                           Washington State Ferries
150            00040     Central Puget Sound Regional Transit Authority
933            00041                        Alaska Railroad Corporation
1929           00043                                Chelan Douglas PTBA
3857           00044                                     Skagit Transit
50253          00046                                City of Wilsonville
6422           00047                                  City of Corvallis
2231           00049                            vRide, Inc. - Anchorage
1774           00054                         King County Ferry District
977            00057           Central Oregon Intergovernmental Council
5771           00058                                   City of Portland
57088          00376                              Ride Connection, Inc.
49378          00415                        Ada County Highway District
3840           10001              Rhode Island Public Transit Authority
7668           10003         Massachusetts Bay Transportation Authority
3841           10004                    Brockton Area Transit Authority
36             10005                  Lowell Regional Transit Authority
7169           10006            Southeastern Regional Transit Authority
6192           10007               Berkshire Regional Transit Authority
2895           10008                   Pioneer Valley Transit Authority
4789           10013        Merrimack Valley Regional Transit Authority
8662           10014               Worcester Regional Transit Authority
6156           10016                  Greater Portland Transit District
1941           10017                  Greater Hartford Transit District
6727           10040                    Southeast Area Transit District
945            10042                            Valley Transit District
556            10045  Connecticut Department of Transportation - CTT...
2881           10048  Connecticut Department of Transportation - CTT...
5992           10049                 Greater New Haven Transit District

<div class="alert alert-info">
  Index 246 appears not to contain any useful information. </div>

In [12]:
data.iloc[246].head(50)

5 DIgit NTD ID                                   "
4 Digit NTD ID                                 NaN
Agency                                         NaN
Organization Type                              NaN
Mode                                           NaN
Type of Service                                NaN
Rail (Y/N)                                     NaN
Primary UZA Code                                 0
Primary UZA Name                               NaN
Primary UZA Sq Miles                           0.0
Primary UZA Population                         0.0
Service Area Sq Miles                          0.0
Service Area Population                        0.0
Year                                          2014
Month                                           10
Vehicles                                         0
Vehicle Revenue Miles                            0
Vehicle Revenue Hours                            0
Ridership                                        0
Collisions with Motor Vehicle                    0
Collisions with Person                           0
Collisions with Fixed Object                     0
Collisions with Rail Vehicle                     0
Collisions with Bus Vehicle                      0
Collisions with Other                            0
Total Collisions                                 0
Total Derailments                                0
Total Fires                                      0
Total Security Events                            0
Total Events Not Otherwise Classified            0
Total Events                                     0
Passenger Fatalities                             0
People Waiting or Leaving Fatalities             0
Operator Fatalities                              0
Other Employee Fatalities                        0
Total Employee Fatalities                        0
Other Worker Fatalities                          0
Bicyclist Fatalities                             0
Pedestrian in Crosswalk Fatalities               0
Pedestrian Not in Crosswalk Fatalities           0
Pedestrian Crossing Tracks Fatalities            0
Pedestrian Walking Along Tracks Fatalities       0
Other Vehicle Occupant Fatalities                0
Other Fatalities                                 0
Trespasser Fatalities                            0
Suicide Fatalities                               0
Total Other Fatalities                           0
Total Fatalities                                 0
Passenger Injuries                               0
People Waiting or Leaving Injuries               0
Name: 246, dtype: object

<div class="alert alert-info">
  <strong>Looking for NaNs in "Agency":  </strong> If there is no way to identify the reporting agency, region, or even organization type, then the data is not useful for the purposes of this project and can be removed </div>

In [13]:
data[data['Agency'].isna()]

,5 DIgit NTD ID,4 Digit NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (Y/N),Primary UZA Code,Primary UZA Name,Primary UZA Sq Miles,...,Pedestrian in Corsswalk Injuries,Pedestrian Not in Crosswalk Injuries,Pedestrian Crossing Tracks Injuries,Pedestrian Walking Along Tracks Injuries,Other Vehicle Occupant Injuries,Other Injuries,Trespasser Injuries,Suicide Injuries,Total Other Injuries,Total Injuries
246,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
247,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
248,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122815,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122816,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122817,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122818,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125320,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,1,0,0,0,1,1
125321,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125322,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,1,1
125817,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125818,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125819,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125820,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125821,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125822,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127275,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127276,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,1,0,0,0,1,1
127278,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,1,1,0,0,1,0,0,0,3,3
127492,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127493,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127494,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127495,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127496,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127497,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127974,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127975,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127976,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127977,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127978,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127979,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127980,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127981,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127982,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127983,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127984,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127985,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
131473,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
131474,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
132865,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,2,0,0,0,2,2
132866,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,7
132867,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,1,0,0,0,0,0,0,0,1,2
132868,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133191,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133192,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133193,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133194,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133195,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0

<div class="alert alert-info">
  <strong>Looking for NaNs in "5 DIgit NTD ID":  </strong> No NaNs show is the search, but searching for the quotation mark (as found in index 246) reveals the issue.  These are the same 48 rows that we found when searching for NaNs in "Agency".  Mystery solved. </div>

In [14]:
data[data['5 DIgit NTD ID'].isna()]

Empty DataFrame
Columns: [5 DIgit NTD ID, 4 Digit NTD ID, Agency, Organization Type, Mode, Type of Service, Rail (Y/N), Primary UZA Code, Primary UZA Name, Primary UZA Sq Miles, Primary UZA Population, Service Area Sq Miles, Service Area Population, Year, Month, Vehicles, Vehicle Revenue Miles, Vehicle Revenue Hours, Ridership, Collisions with Motor Vehicle, Collisions with Person, Collisions with Fixed Object, Collisions with Rail Vehicle, Collisions with Bus Vehicle, Collisions with Other, Total Collisions, Total Derailments, Total Fires, Total Security Events, Total Events Not Otherwise Classified, Total Events, Passenger Fatalities, People Waiting or Leaving Fatalities, Operator Fatalities, Other Employee Fatalities, Total Employee Fatalities, Other Worker Fatalities, Bicyclist Fatalities, Pedestrian in Crosswalk Fatalities, Pedestrian Not in Crosswalk Fatalities, Pedestrian Crossing Tracks Fatalities, Pedestrian Walking Along Tracks Fatalities, Other Vehicle Occupant Fatalities, Other Fatalities, Trespasser Fatalities, Suicide Fatalities, Total Other Fatalities, Total Fatalities, Passenger Injuries, People Waiting or Leaving Injuries, Operator Injuries, Other Employee Injuries, Total Employee Injuries, Other Worker Injuries, Bicyclist Injuries, Pedestrian in Corsswalk Injuries, Pedestrian Not in Crosswalk Injuries, Pedestrian Crossing Tracks Injuries, Pedestrian Walking Along Tracks Injuries, Other Vehicle Occupant Injuries, Other Injuries, Trespasser Injuries, Suicide Injuries, Total Other Injuries, Total Injuries]
Index: []

[0 rows x 65 columns]

In [15]:
data[data['5 DIgit NTD ID']==r'"']

,5 DIgit NTD ID,4 Digit NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (Y/N),Primary UZA Code,Primary UZA Name,Primary UZA Sq Miles,...,Pedestrian in Corsswalk Injuries,Pedestrian Not in Crosswalk Injuries,Pedestrian Crossing Tracks Injuries,Pedestrian Walking Along Tracks Injuries,Other Vehicle Occupant Injuries,Other Injuries,Trespasser Injuries,Suicide Injuries,Total Other Injuries,Total Injuries
246,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
247,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
248,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122815,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122816,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122817,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
122818,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125320,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,1,0,0,0,1,1
125321,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125322,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,1,1
125817,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125818,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125819,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125820,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125821,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
125822,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127275,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127276,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,1,0,0,0,1,1
127278,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,1,1,0,0,1,0,0,0,3,3
127492,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127493,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127494,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127495,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127496,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127497,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127974,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127975,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127976,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127977,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127978,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127979,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127980,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127981,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127982,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127983,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127984,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
127985,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
131473,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
131474,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
132865,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,2,0,0,0,2,2
132866,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,7
132867,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,1,0,0,0,0,0,0,0,1,2
132868,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133191,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133192,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133193,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133194,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
133195,"""",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0

<div class="alert alert-info">
  <strong>Removing the rows of data and checking to make sure they are gone.  </strong> </div>

In [16]:
data = data[data['Agency'].notna()]

In [17]:
data[data['Agency'].isna()]

Empty DataFrame
Columns: [5 DIgit NTD ID, 4 Digit NTD ID, Agency, Organization Type, Mode, Type of Service, Rail (Y/N), Primary UZA Code, Primary UZA Name, Primary UZA Sq Miles, Primary UZA Population, Service Area Sq Miles, Service Area Population, Year, Month, Vehicles, Vehicle Revenue Miles, Vehicle Revenue Hours, Ridership, Collisions with Motor Vehicle, Collisions with Person, Collisions with Fixed Object, Collisions with Rail Vehicle, Collisions with Bus Vehicle, Collisions with Other, Total Collisions, Total Derailments, Total Fires, Total Security Events, Total Events Not Otherwise Classified, Total Events, Passenger Fatalities, People Waiting or Leaving Fatalities, Operator Fatalities, Other Employee Fatalities, Total Employee Fatalities, Other Worker Fatalities, Bicyclist Fatalities, Pedestrian in Crosswalk Fatalities, Pedestrian Not in Crosswalk Fatalities, Pedestrian Crossing Tracks Fatalities, Pedestrian Walking Along Tracks Fatalities, Other Vehicle Occupant Fatalities, Other Fatalities, Trespasser Fatalities, Suicide Fatalities, Total Other Fatalities, Total Fatalities, Passenger Injuries, People Waiting or Leaving Injuries, Operator Injuries, Other Employee Injuries, Total Employee Injuries, Other Worker Injuries, Bicyclist Injuries, Pedestrian in Corsswalk Injuries, Pedestrian Not in Crosswalk Injuries, Pedestrian Crossing Tracks Injuries, Pedestrian Walking Along Tracks Injuries, Other Vehicle Occupant Injuries, Other Injuries, Trespasser Injuries, Suicide Injuries, Total Other Injuries, Total Injuries]
Index: []

[0 rows x 65 columns]

In [18]:
data[data['5 DIgit NTD ID']==r'"']

Empty DataFrame
Columns: [5 DIgit NTD ID, 4 Digit NTD ID, Agency, Organization Type, Mode, Type of Service, Rail (Y/N), Primary UZA Code, Primary UZA Name, Primary UZA Sq Miles, Primary UZA Population, Service Area Sq Miles, Service Area Population, Year, Month, Vehicles, Vehicle Revenue Miles, Vehicle Revenue Hours, Ridership, Collisions with Motor Vehicle, Collisions with Person, Collisions with Fixed Object, Collisions with Rail Vehicle, Collisions with Bus Vehicle, Collisions with Other, Total Collisions, Total Derailments, Total Fires, Total Security Events, Total Events Not Otherwise Classified, Total Events, Passenger Fatalities, People Waiting or Leaving Fatalities, Operator Fatalities, Other Employee Fatalities, Total Employee Fatalities, Other Worker Fatalities, Bicyclist Fatalities, Pedestrian in Crosswalk Fatalities, Pedestrian Not in Crosswalk Fatalities, Pedestrian Crossing Tracks Fatalities, Pedestrian Walking Along Tracks Fatalities, Other Vehicle Occupant Fatalities, Other Fatalities, Trespasser Fatalities, Suicide Fatalities, Total Other Fatalities, Total Fatalities, Passenger Injuries, People Waiting or Leaving Injuries, Operator Injuries, Other Employee Injuries, Total Employee Injuries, Other Worker Injuries, Bicyclist Injuries, Pedestrian in Corsswalk Injuries, Pedestrian Not in Crosswalk Injuries, Pedestrian Crossing Tracks Injuries, Pedestrian Walking Along Tracks Injuries, Other Vehicle Occupant Injuries, Other Injuries, Trespasser Injuries, Suicide Injuries, Total Other Injuries, Total Injuries]
Index: []

[0 rows x 65 columns]

<div class="alert alert-info">
  <strong>"Rail (Y/N)" column data type: </strong> Removing the NANs in the Agency column fixed the NANs in the 'Rail (Y/N)' column.  So, I'm able to change the data type to bool now.</a></div>

In [19]:
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.head(20)

                               count         %
5 DIgit NTD ID                     0  0.000000
4 Digit NTD ID                  2997  2.250879
Agency                             0  0.000000
Organization Type               4329  3.251269
Mode                               0  0.000000
Type of Service                    0  0.000000
Rail (Y/N)                         0  0.000000
Primary UZA Code                   0  0.000000
Primary UZA Name                4341  3.260282
Primary UZA Sq Miles            4341  3.260282
Primary UZA Population          4341  3.260282
Service Area Sq Miles           4236  3.181422
Service Area Population         4236  3.181422
Year                               0  0.000000
Month                              0  0.000000
Vehicles                           0  0.000000
Vehicle Revenue Miles              0  0.000000
Vehicle Revenue Hours              0  0.000000
Ridership                          0  0.000000
Collisions with Motor Vehicle      0  0.000000

In [20]:
data['Rail (Y/N)'] = data['Rail (Y/N)'].astype(bool)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133148 entries, 0 to 133190
Data columns (total 65 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   5 DIgit NTD ID                              133148 non-null  object
 1   4 Digit NTD ID                              130151 non-null  object
 2   Agency                                      133148 non-null  object
 3   Organization Type                           128819 non-null  object
 4   Mode                                        133148 non-null  object
 5   Type of Service                             133148 non-null  object
 6   Rail (Y/N)                                  133148 non-null  bool
 7   Primary UZA Code                            133148 non-null  int64
 8   Primary UZA Name                            128807 non-null  object
 9   Primary UZA Sq Miles                        128807 non-null  float64
 10  Primary UZA Population                      128807 non-null  float64
 11  Service Area Sq Miles                       128912 non-null  float64
 12  Service Area Population                     128912 non-null  float64
 13  Year                                        133148 non-null  int64
 14  Month                                       133148 non-null  int64
 15  Vehicles                                    133148 non-null  int64
 16  Vehicle Revenue Miles                       133148 non-null  int64
 17  Vehicle Revenue Hours                       133148 non-null  int64
 18  Ridership                                   133148 non-null  int64
 19  Collisions with Motor Vehicle               133148 non-null  int64
 20  Collisions with Person                      133148 non-null  int64
 21  Collisions with Fixed Object                133148 non-null  int64
 22  Collisions with Rail Vehicle                133148 non-null  int64
 23  Collisions with Bus Vehicle                 133148 non-null  int64
 24  Collisions with Other                       133148 non-null  int64
 25  Total Collisions                            133148 non-null  int64
 26  Total Derailments                           133148 non-null  int64
 27  Total Fires                                 133148 non-null  int64
 28  Total Security Events                       133148 non-null  int64
 29  Total Events Not Otherwise Classified       133148 non-null  int64
 30  Total Events                                133148 non-null  int64
 31  Passenger Fatalities                        133148 non-null  int64
 32  People Waiting or Leaving Fatalities        133148 non-null  int64
 33  Operator Fatalities                         133148 non-null  int64
 34  Other Employee Fatalities                   133148 non-null  int64
 35  Total Employee Fatalities                   133148 non-null  int64
 36  Other Worker Fatalities                     133148 non-null  int64
 37  Bicyclist Fatalities                        133148 non-null  int64
 38  Pedestrian in Crosswalk Fatalities          133148 non-null  int64
 39  Pedestrian Not in Crosswalk Fatalities      133148 non-null  int64
 40  Pedestrian Crossing Tracks Fatalities       133148 non-null  int64
 41  Pedestrian Walking Along Tracks Fatalities  133148 non-null  int64
 42  Other Vehicle Occupant Fatalities           133148 non-null  int64
 43  Other Fatalities                            133148 non-null  int64
 44  Trespasser Fatalities                       133148 non-null  int64
 45  Suicide Fatalities                          133148 non-null  int64
 46  Total Other Fatalities                      133148 non-null  int64
 47  Total Fatalities                            133148 non-null  int64
 48  Passenger Injuries                          133148 non-null  int64
 49  People Waiting or Leaving Injuries          133148 non-null  int64
 50  Operator Injuries                           133148 non-null  int64
 51  Other Employee Injuries                     133148 non-null  int64
 52  Total Employee Injuries                     133148 non-null  int64
 53  Other Worker Injuries                       133148 non-null  int64
 54  Bicyclist Injuries                          133148 non-null  int64
 55  Pedestrian in Corsswalk Injuries            133148 non-null  int64
 56  Pedestrian Not in Crosswalk Injuries        133148 non-null  int64
 57  Pedestrian Crossing Tracks Injuries         133148 non-null  int64
 58  Pedestrian Walking Along Tracks Injuries    133148 non-null  int64
 59  Other Vehicle Occupant Injuries             133148 non-null  int64
 60  Other Injuries                              133148 non-null  int64
 61  Trespasser Injuries                         133148 non-null  int64
 62  Suicide Injuries                            133148 non-null  int64
 63  Total Other Injuries                        133148 non-null  int64
 64  Total Injuries                              133148 non-null  int64
dtypes: bool(1), float64(4), int64(53), object(7)
memory usage: 66.2+ MB

<div class="alert alert-info">
  <strong>Rechecking "5 DIgit NTD ID" and "Agency" for uniqueness: </strong> They are still one different.  I might choose to explore this more later, but I'll leave it for now.</a></div>

In [22]:
data['5 DIgit NTD ID'].nunique()

608

In [23]:
data['Agency'].nunique()

607

<div class="alert alert-info">
  <strong>Checking for anomalies or missing data in the "Year" column:</strong>  None found.</div>

In [24]:
data[['5 DIgit NTD ID','Agency','Year']].sort_values('Year', ascending=False).head(50)

       5 DIgit NTD ID                                             Agency  Year
133190          90030                      North County Transit District  2022
110740          30083  Transportation District Commission of Hampton ...  2022
110738          30083  Transportation District Commission of Hampton ...  2022
110737          30083  Transportation District Commission of Hampton ...  2022
110736          30083  Transportation District Commission of Hampton ...  2022
121984          50519                 Minnesota Valley Transit Authority  2022
121983          50519                 Minnesota Valley Transit Authority  2022
121982          50519                 Minnesota Valley Transit Authority  2022
121981          50519                 Minnesota Valley Transit Authority  2022
110729          30083  Transportation District Commission of Hampton ...  2022
110728          30083  Transportation District Commission of Hampton ...  2022
110727          30083  Transportation District Commission of Hampton ...  2022
110726          30083  Transportation District Commission of Hampton ...  2022
121980          50519                 Minnesota Valley Transit Authority  2022
110721          10006            Southeastern Regional Transit Authority  2022
110720          10006            Southeastern Regional Transit Authority  2022
110719          10006            Southeastern Regional Transit Authority  2022
110718          10006            Southeastern Regional Transit Authority  2022
110717          10006            Southeastern Regional Transit Authority  2022
110711          10006            Southeastern Regional Transit Authority  2022
110710          10006            Southeastern Regional Transit Authority  2022
110709          10006            Southeastern Regional Transit Authority  2022
110708          10006            Southeastern Regional Transit Authority  2022
110707          10006            Southeastern Regional Transit Authority  2022
110706          10006            Southeastern Regional Transit Authority  2022
110699          90090                Yolo County Transportation District  2022
110698          90090                Yolo County Transportation District  2022
110697          90090                Yolo County Transportation District  2022
110696          90090                Yolo County Transportation District  2022
110695          90090                Yolo County Transportation District  2022
110689          90090                Yolo County Transportation District  2022
110739          30083  Transportation District Commission of Hampton ...  2022
110741          30083  Transportation District Commission of Hampton ...  2022
110807          90154  Los Angeles County Metropolitan Transportation...  2022
110746          30083  Transportation District Commission of Hampton ...  2022
110799          90154  Los Angeles County Metropolitan Transportation...  2022
110798          90154  Los Angeles County Metropolitan Transportation...  2022
110797          90154  Los Angeles County Metropolitan Transportation...  2022
110796          90154  Los Angeles County Metropolitan Transportation...  2022
110789          90154  Los Angeles County Metropolitan Transportation...  2022
110788          90154  Los Angeles County Metropolitan Transportation...  2022
110787          90154  Los Angeles County Metropolitan Transportation...  2022
110786          30083  Transportation District Commission of Hampton ...  2022
110785          30083  Transportation District Commission of Hampton ...  2022
110784          30083  Transportation District Commission of Hampton ...  2022
110783          30083  Transportation District Commission of Hampton ...  2022
110782          30083  Transportation District Commission of Hampton ...  2022
110781          30083  Transportation District Commission of Hampton ...  2022
110774          30083  Transportation District Commission of Hampton ...  2022
110773          30083  Transportation District Commission of Hampton ...  2022

<div class="alert alert-danger">
<strong>Discussion Point (for Nov 9, 2022:)</strong>
    
How shall I treat the rows where Ridership is zero?  What can we understand from a zero in that field?
    
Possible options:   
* Exclude the data
    
* Leave as is
    
* Replace with an average - multiple methods possible to do this

I need to have a better understanding of why ridership is zero during these months/years before I can make a decision.</div>

<div class="alert alert-info">
  <strong>Checking "Ridership": </strong> A number of rows report zero for "Ridership."  Is this data correct or is the zero a placeholder for data that is not available?  How shall I treat this data?</a></div>

In [25]:
data[['5 DIgit NTD ID','Agency','Month','Year','Ridership']].sort_values(by = ['Ridership', '5 DIgit NTD ID','Year','Month'], ascending=True).head(50)

       5 DIgit NTD ID                     Agency  Month  Year  Ridership
7933            00006             City of Yakima      1  2014          0
7934            00006             City of Yakima      2  2014          0
7935            00006             City of Yakima      3  2014          0
7936            00006             City of Yakima      4  2014          0
7937            00006             City of Yakima      5  2014          0
106373          00006             City of Yakima      4  2020          0
106374          00006             City of Yakima      5  2020          0
106375          00006             City of Yakima      6  2020          0
106376          00006             City of Yakima      7  2020          0
106377          00006             City of Yakima      8  2020          0
106378          00006             City of Yakima      9  2020          0
100696          00012  Municipality of Anchorage      5  2020          0
37697           00016        RiverCities Transit      7  2016          0
37700           00016        RiverCities Transit     10  2016          0
37701           00016        RiverCities Transit     11  2016          0
57609           00016        RiverCities Transit      2  2017          0
57610           00016        RiverCities Transit      3  2017          0
57611           00016        RiverCities Transit      4  2017          0
57612           00016        RiverCities Transit      5  2017          0
57613           00016        RiverCities Transit      6  2017          0
57614           00016        RiverCities Transit      7  2017          0
102917          00019          Intercity Transit      5  2020          0
102940          00019          Intercity Transit      5  2020          0
102941          00019          Intercity Transit      6  2020          0
102942          00019          Intercity Transit      7  2020          0
102943          00019          Intercity Transit      8  2020          0
102944          00019          Intercity Transit      9  2020          0
102945          00019          Intercity Transit     10  2020          0
102946          00019          Intercity Transit     11  2020          0
102947          00019          Intercity Transit     12  2020          0
126733          00019          Intercity Transit      1  2021          0
126734          00019          Intercity Transit      2  2021          0
126735          00019          Intercity Transit      3  2021          0
126736          00019          Intercity Transit      4  2021          0
126737          00019          Intercity Transit      5  2021          0
126738          00019          Intercity Transit      6  2021          0
39272           00020             Kitsap Transit      1  2016          0
39273           00020             Kitsap Transit      2  2016          0
39274           00020             Kitsap Transit      3  2016          0
39275           00020             Kitsap Transit      4  2016          0
39276           00020             Kitsap Transit      5  2016          0
39277           00020             Kitsap Transit      6  2016          0
39278           00020             Kitsap Transit      7  2016          0
39279           00020             Kitsap Transit      8  2016          0
39280           00020             Kitsap Transit      9  2016          0
39281           00020             Kitsap Transit     10  2016          0
102987          00020             Kitsap Transit      6  2020          0
102988          00020             Kitsap Transit      7  2020          0
102989          00020             Kitsap Transit      8  2020          0
102990          00020             Kitsap Transit      9  2020          0

<div class="alert alert-danger">
  <strong>Checking "Ridership": </strong> There are 1562 rows of data where "Ridership" is zero.</a></div>

In [26]:
data[data['Ridership']==0].shape

(1562, 65)

<div class="alert alert-info">
  <strong>Checking "Ridership": </strong> Looking at one index number from above to see it's data.  At least it is consistent, zero safety data for zero riders.  I checked several fields but may need to do a more diligent exploration before being able to decide what to do with the 1562 rows.</a></div>

In [27]:
data.iloc[57611].head(50)

5 DIgit NTD ID                                                                            00016
4 Digit NTD ID                                                                             0016
Agency                                                                      RiverCities Transit
Organization Type                             City, County or Local Government Unit or Depar...
Mode                                                                                         VP
Type of Service                                                                              DO
Rail (Y/N)                                                                                False
Primary UZA Code                                                                            431
Primary UZA Name                                                                Longview, WA-OR
Primary UZA Sq Miles                                                                       33.0
Primary UZA Population                                                                  63952.0
Service Area Sq Miles                                                                      31.0
Service Area Population                                                                 61598.0
Year                                                                                       2017
Month                                                                                         7
Vehicles                                                                                      0
Vehicle Revenue Miles                                                                         0
Vehicle Revenue Hours                                                                         0
Ridership                                                                                     0
Collisions with Motor Vehicle                                                                 0
Collisions with Person                                                                        0
Collisions with Fixed Object                                                                  0
Collisions with Rail Vehicle                                                                  0
Collisions with Bus Vehicle                                                                   0
Collisions with Other                                                                         0
Total Collisions                                                                              0
Total Derailments                                                                             0
Total Fires                                                                                   0
Total Security Events                                                                         0
Total Events Not Otherwise Classified                                                         0
Total Events                                                                                  0
Passenger Fatalities                                                                          0
People Waiting or Leaving Fatalities                                                          0
Operator Fatalities                                                                           0
Other Employee Fatalities                                                                     0
Total Employee Fatalities                                                                     0
Other Worker Fatalities                                                                       0
Bicyclist Fatalities                                                                          0
Pedestrian in Crosswalk Fatalities                                                            0
Pedestrian Not in Crosswalk Fatalities                                                        0
Pedestrian Crossing Tracks Fatalities                                                         0
Pedestrian Walking Along Tracks Fatalities                                                    0
Other Vehicle Occupant Fatalities                                                             0
Other Fatalities                                                                              0
Trespasser Fatalities                                                                         0
Suicide Fatalities                                                                            0
Total Other Fatalities                                                                        0
Total Fatalities                                                                              0
Passenger Injuries                                                                            0
People Waiting or Leaving Injuries                                                            0
Name: 57614, dtype: object

In [28]:
# NTD IDs: T = tribe, R = rural, no letter to indicate urban